body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-psd/social-media-instagram-post-template_47618-73.jpg?w=2000");
  }
  h1{
    padding-left: 701px;
    margin-top: 34px;
    color: #000000;
    font-size: 90px;
  }
  form {
    border: 1px solid #000000;
    padding: 20px;
    width: 400px;
    margin-left: 489px;
    margin-top: 219px;
    font-size: larger;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #000000;
    font-size: larger;
  }
  
  input[type="text"] {
    width: 250px;
    color: black;
    font-size: larger;
  }

  #posts {
    margin-top: 25px;
  color: #000000;
  font-size: larger;
  margin-left: 750px;
  }
